!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => 'assets/home.css'}
    %script{:src => "assets/home.js"}
  %body
    .container
      .section
        .bio
          .content
            %img.profile-pic{:src => "http://www.gravatar.com/avatar/454fa61e1dc226a4793c43462085ca8c.png?s=90"}
            .arrow-up
            .quotation 
              I specialize in early stage product development. Having worked with numerous startups in the Chicagoland area, I have built a wide range full-stack applications, front to back, start to finish. I am particularly experienced in Ruby on Rails and iOS development.
      .trail
        .first
          .segment.horizontal.first
          .segment.horizontal
          .segment.horizontal
          .segment.horizontal
          .segment.horizontal
        .second
          .segment.vertical
          .segment.vertical
          .segment.vertical
          .segment.vertical
          .segment.vertical
          .segment.vertical
          .segment.vertical
          .segment.vertical
